*{
	margin: 0px;
	padding: 0px;
} 
.clear:before,.clear:after{
	content: "";
	display: block;
	clear: both;
}
.header{
	height: 160px;
	width: 1000px;
	margin: 0px auto;
	position: relative;
}
.search input{
	background-color: #f1f1f1;
	border: 0px;
}
.search button{
	position: relative;
	left: -40px;
	background-color: #f1f1f1;
	border: 0px;
	top:2px;
}
.search button img{
	width: 15px;
	height:15px;
}
.logo{
	color: blue;
	font-size: 30px;
	margin-top: 40px;
	margin-left: 20px;
	width: 500px;
}
.search{
	float: right;
	margin-top: -30px;
	position: absolute;
	left: 750px;
	position: absolute;
}
.search input {
	width: 200px;
	height: 28px;
}
.search button{
	width: 35px;
	height: 25px;

}
.header .nav{
	margin: 0px auto;
	margin: 40px 0px 0px 0px;
}
.header .nav li{
	float: left;
	width: 125px;
	height: 60px;
	background-color:#323232;
	list-style: none;
	color: #fff;
	line-height: 60px;
	margin: 0px auto;
	text-align: center;/*文字居中*/
}
.header .nav li .link{
	color: #fff;
	text-decoration: none;
}
.header .nav li:hover{
	background-color: blue;
}
.banner{
	margin: 0px auto;
	width: 1000px;
	height: 470px;
	position:relative;
}
.banner p{
	font-size: 40px;
	color: blue;
	display: block;
	margin-left: 340px;
	margin-top: -330px;
	position: absolute;
}
.banner button a{
	display: block;
	position: absolute;
	width: 200px;
	height: 50px;
	top: 208px;
	left: 400px;
	color: white;
	background-color: blue;
	border-radius: 5px;
	font-size: 24px;
	text-decoration: none;
	line-height: 50px;
}
.banner .img2{
	margin-top: -250px;
	position: absolute;
}
.banner .img3{
	margin-top: -250px;
	margin-left: 960px;
	position: absolute;
}
.container{
	width: 1000px;
	height: 540px;
	margin: 0px auto;
}
.tit{
	height: 250px;
	width: 450px;
	margin-right: 25px;
	margin-left: 25px;
}
.tit li{
	color: #5e5e5e;
}
.tits{
	display: block;
	height: 85px;
	line-height: 85px;
}
.link1{
	text-decoration: none;
	color: black;
}
.link2{
	float: right;
}
.tit2{
	width: 250px;
	height: 250px;
	float: left;
	background-color: #f1f1f1;
}
.link3{
	line-height: 90px;
	height: 90px;
	margin-left: 20px;
}
.link4{
	font-size: 14px;
	margin-left: 20px;
}
.link5{
	line-height: 30px;
	height: 30px;
	margin-left: 20px;
}
.tit3{
	width: 250px;
	height: 250px;
	float: left;
}
.link6{
	line-height: 90px;
	height: 90px;
	margin-left: 20px;
}
.link7{
	margin-left: 20px;
}
.link8{
	margin-top: 60px;
	margin-left: 25px;
	border:0px;
	width: 66px;
	height:19px;
	float: left;
	padding:6 11 6 11;
	color: #fff;
}
.link9{
	margin-top: -60px;
	margin-left: 150px;
}
.tit{
	float: left;
}
.tit4{
	width: 1000px;
	height: 300px;
	margin-left: 25px;
}
.nav1{
	line-height: 75px;
}
.nav5{
	top: 20px;
	width: 248px;
	height: 240px;
	list-style: none;
	float: left;
	left: 20px;
}
.nav4{top: 20px;
	width: 248px;
	height: 240px;
	list-style: none;
	float: left;
}
.nav2{
	top: 20px;
	width: 248px;
	height: 240px;
	list-style: none;
	float: left;
}
.nav3{
	top: 20px;
	width: 248px;
	height: 240px;
	list-style: none;
	float: left;
}
.url{
	color:black;
	text-decoration: none;
}
.url{
	display: block;
	font-size: 12px;
	width: 222px;
}
.footer{
	width: 1000px;
	height: 250px;
	margin: 0px auto;
	background-color: #e5e5e5;
}
.first{
	height: 248px;
	width: 450px;
	float: left;
	margin-left:25px;
	margin-right: 25px;
}
.firtop{
	color:#535353;
	margin-left:25px;
}
.firnav{
	display: block;
	float: left;
	list-style: none;
	font-size:12px;
	margin-left: 25px;
	color: #737373;
}
.firnav2{
	display: block;
	float: left;
	list-style: none;
	font-size:12px;
	margin-left:25px;
	color:#737373;
}
.firnav3{
	display: block;
	float: left;
	list-style: none;
	font-size:12px;
	margin-left:25px;	
	color:#737373;
}

.second{
	float: left;
	height: 248px;
	width: 200px;
	list-style: none;
	color:#535353;
}
.secnav{
	margin-left:25px;
}
.seccon{
	margin-left:25px;
	font-size:12px;
}
.third{
	float: right;
	height: 248px;
	width: 250px;
}
.thinav{
	color:#535353;
	margin-left:25px;
}
.fourth{
	clear:both;
	height:78px;
}
.four2{
	float: left;
	font-size: 12px;
	list-style: none;
}
.four3{
	float: left;
	font-size: 12px;
	list-style: none;
	margin-left: 50px;
}
.four4{
	float: right;
	font-size: 12px;
	list-style: none;
}
.four4 a{
	text-decoration:none;
}