*{
	margin: 0px;
	padding: 0px;
}
.top{
	width: 7.2rem;
	height: 0.96rem;
	background-color: #2aacff;
}
.brow{
	display: block;
	width: 2.59rem;
	height: 0.96rem;
	float: left;
	text-decoration: none;	
	font-size: 0.28rem;
}
.linka{	
	width: 2.31rem;
	height: 0.96rem;
	display: block;
	float: left;
}.arrow{
	line-height: 0.96rem;
	font-size: 0.6rem;
	color: #fff;
	width: 2.31rem;
	height: 0.96rem;
}
.title{
	font-size: 0.36rem;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 0.96rem;
	width: 1.96rem;
	height: 0.96rem;
	float: left;	
}
.brow{
	font-size: 0.28rem;
	float: right;
	display: block;
	color: #fff;
	width: 1.41rem;
	line-height: 0.96rem;
	text-decoration: none;
}
.plate{
	height: 2.9rem;
}
.img1{
	width: 4.64rem;
	height: 3.16rem;
	display: block;
	margin: 0.16rem auto;
}	
.advert{
	font-size: 0.32rem;
	font-family: 'microsoft yahei';
	margin-left: 0.25rem;
}
.price{
	font-size: 0.28rem;
	font-family: 'microsoft yahei';
	margin-left: 0.25rem;
}
.money{
	font-size: 0.32rem;
	color: #d11f1f;
	font-family: 'microsoft yahei';
	font-weight: bold;
}
.optain{
	width: 7.2rem;
	height: 0.95rem;
}
.bewrite{
	display: block;
	font-size: 0.32rem;
	height: 0.95rem;
	width: 3.6rem;
	border: 1px solid #ccc;
	line-height: 0.95rem;
	text-align: center;
	float: left;
	color: #000;
}
.parameter{
	font-size: 0.32rem;
	width: 3.6rem;
	height: 0.95rem;
	display: block;
	text-align: center;
	line-height: 0.95rem;
	border: 1px solid #ccc;
	float: left;
	color: #000;
}
.clicka{
	border-bottom: 2px solid red;
	color: red;   /*文字颜色不变问*/
}
.pic{
	width: 7.2rem;
	height: 5.02rem;
	line-height: 5.02rem;
	text-align: center;
}
.img2{
	width: 6.6rem;
	height: 4.2rem;
}
.banner{
	height: 11.3rem;
}
.why{
	height: 4.75rem;
	text-align: center;
	background-color: #e5e5e5;
	margin: 0px auto;
}
.fill{
	height: 0.49rem;
}
.img3{
	width:2.49rem;
	display: block;
	margin: 0px auto;
}
.innera{
	width: 4.31rem;
	height: 0.58rem;
	margin: 0px auto;
}
.ctr{
	font-size: 0.39rem;
	display: block;
	float: left;
}
.ctrs{
	font-size: 0.39rem;
	display: block;
	float: left;
	color: red;
	font-weight: bolder;
}
.ctre{
	font-size: 0.1596rem;
	display: block;
	height: 0.5rem;
}
.img4{
	width: 5.7rem;
	height: 0.17rem;
	display: block;
	margin: 0px auto;
}
/*以下*/
.round{
	height: 2.53rem;
}
.garden{
	width: 1.64rem;
	height: 1.64rem;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 5px solid #000;
	border-radius: 50%;
	float: left;
	margin-left: 0.55rem;
}
.gardenb{
	width: 1.63rem;
	height: 1.63rem;
	

}
.sizea{
	width: 1.64rem;
	height: 1.64rem;
	border: 1px solid #000;
	border-radius: 50% ;
	float: left;
	margin-left: 0.55rem;
}
.sizeb{
	width: 1.63rem;
	height: 1.63rem;
	border-bottom: 5px solid #000;
	border-radius: 50%;
}
.plan{
	width: 1.64rem;
	height: 1.64rem;
	border: 1px solid #000;
	border-radius: 50% ;
	float: left;
	margin-left: 0.55rem;
}
.plana{
	width: 1.63rem;
	height: 1.63rem;
	border-bottom: 5px solid #000;
	border-radius: 50%;
}
/*以上*/
.gardenc h1{
	font-size: 0.4723rem;
}
.gardenc h3{
	font-size: 0.32rem;
	padding-bottom: 0.15rem;
}
.gardenc span{
	display: block;
	margin-left: 0.57rem;
	margin-right: 0.57rem;
	font-size: 0.24rem;
}
.gardenc img{
	margin-top: 0.41rem;
	width: 6.6rem;
	height: 3.81rem;
}
.container{
	
	background-color: #e5e5e5;
	height: 13.95rem;
	width: 7.2rem;
	margin: 0;
	padding:0;
}
.containera{
	text-align: center;	

}
.container h2{
	font-size: 0.4723rem;
}
.container h4{
	font-size: 0.32rem;
}
.container img{
	width: 4.65rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.before{
	font-size: 0.32rem;
}
.after{
	font-size: 0.32rem;
	color: red;
}
.nav table{
	margin: 0 auto;
	margin-top: 0.5rem;
}
.nav thead,.navb,.nav2,.navc,.nav3,.navd{
	text-indent: 0.25rem;
}
.nav thead{
	padding-left: 0.25rem;
}
.nav thead th{	
	background-color: #fff;
}
.nava{
	width: 	1.92rem;
	height: 0.55rem;
	font-size: 0.28rem;
}
.nav1{
	width: 1.92rem;
	height: 0.55rem;
	font-size:0.25rem;
	color: red;	
}
.navb{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.25rem;
}
.nav2{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.25rem;	
	color:red;
}
.navc{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.25rem;
	background-color: #fff;
}
.nav3{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.25rem;	
	color:red;
	background-color: #fff;
}
.navd{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.25rem;
	background-color: #fff;
}
.nave{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.24rem;
	background-color: #fff;
}
.nav4{
	width: 1.92rem;
	height: 0.55rem;
	font-size: 0.24rem;	
	color:red;
	background-color: #fff;
}
.nave div{
	margin-left: 0.25rem;
}
.nav4 div{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.navf{
	width: 2.2rem;
}
.nav5{
	width: 2.5rem;
}
.navd,.nave,.nav4{
	height: 2rem;
}