*{
	margin: 0px;
	padding: 0px;
}
.clear:before .clear: after{
	content:"";
	display: block;
	clear: both;
}
.inner{
	height: 35px;
	background-color: #efefef;
}
.nav{
	height: 35px;
	margin:0px auto;
	list-style: none;
	line-height: 35px;
	width: 1050px;
}
.nav a{
	text-decoration: none;
	color: #000;
}
.l1{
	width: 500px;
	display: block;
	float: left;
}
.l2{
	float: left;
	margin-left: 400px;
}
.nav1{
	width: 1050px;
	list-style: none;
	margin:0px auto;
	position: relative;
	line-height:100px;
}
.logo{
	font-size:25px;
	color: blue;
	font-family: "Microsoft Yahei"；
	width:100px;
	display: block;
	float: left;
}
.logo2{
	float: left;
	width: 200px;
	display: block;
	font-size: 25px;
}
.logo3{
	float: left;
	display: block;
	font-size: 12px;
	margin-left: 20px;
	position: absolute;
	margin-top: 25px;
}
.inner2{
	width: 670px;
	height: 100px;
	float: left;
	margin-left: 100px;
}
.nav0{
	list-style: none;
}
.nav0 li{
	float: left;
	position: relative;
	width:94px;
	overflow: hidden;
}
.nav0 li a{
	font-size: 14px;
	display: block;
	line-height: 100px;
	text-decoration: none;
	color: #000;
	margin-left: 30px;
}
.nav2{
	background-color: blue;
	position: absolute;
	width: 120px;
	height: 10px;
	top: 90px;
	transform: translateY(10px);
}
.nav0 li:hover .nav2{
	transform: translateY(0px);
}
.banner{
	height: 937px;
	background-image: url(博易科技作业3_01_02.jpg);
	margin-top: 100px;
	list-style: none;
}
.inner3{
	width: 937px;
	height: 957px;
	margin: 0px auto;
}
.tiancun{
	width: 1050px;
	height: 200px;
}
.img1{
	display: block;
	margin-left:0px;
}
.nav3 li{
	width: 220px;
	height:221px;
	float: left;
	margin-left: 65px; 	
	border: 1px solid #ebebeb;
	list-style: none;
	margin-top: 20px;
}
.l0{
	margin: 10px;
	color: #7a7a7a;
}
.banner2{
	background-color: #e6e8e9;
	height: 490px;
	z-index: 9999;
	margin-top: 150px;
}
.inner4{
	width: 1050px;	
	margin:0px auto;
	height: 500px;
}	
.inner4 div{
	margin-left: 0px;
	display: block;
	margin: 0px auto;
	}
.tiancun2{
	height: 55px;
	width: 1050px;
}
.inner4 div h2{
	text-align: center;
	display: block;
	width: 1050px;
	height: 50px;
	margin: 0px auto;
}
 .p1{
	font-size: 20px;
	line-height: 50px;
}
.p2{
	text-align: center;
	border-spacing: 1px solid black;
	display: block;
	height: 25px;
}
.inner5{
	width: 1050px;
	height: 150px;
	margin:0px auto;
	overflow: hidden;
}
.nav4{
	list-style: none;
	width: 3100px;
	height: 150px;
	margin-top: 25px;
	animation: turn 10s linear infinite;
}
.img3{
	height: 150px;
	width: 280px;
	float: left;
	margin-right: 30px;
}
@keyframes turn{
	form{
		transform: translateX(0px);
	}
	to{
		transform: translateX(-1550px);
	}
}
.container{
	height: 650px;
}
.tiancun3{
	height: 90px;
}
.inner6{
	text-align: center;	
}
.inner6 h2{
	height: 50px;
}
.inner6 p{
	height: 57px;
}
.container2{
	background-color: #a4d1ee;
	height: 500px;
	
}
.container2 ul{
	width: 1050px;
	margin: 0 auto;	
}
.tiancun4{
	height: 60px;
}
.container2 ul a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	display: block;
	float: left;
	margin-right: 20px;
	width: 100px;
	height:30px;
	text-align: center;
	line-height: 30px;
	
}
.container2 ul a:hover{
	background-color: #fff;
	color: #97cdf3;
}
.container4{
	width: 1050px;
	margin: 0 auto;
	margin-top: 50px;
}
.nav5{
	width: 600px;
	float: left;
	clear: both;
}
.nav5 li a{		
	text-decoration: none;
	color: #000;
}
.nav5 li p{
	width: 144px;
	display: block;
	float: right;
}
.nav5 li{
	height: 55px;
	line-height: 55px;
	list-style: none;
}
.inner7{
	display: block;
	margin: 0 auto;

}
.inner7 img{
	width: 331px;
	height: 305px;
	float: right;
}
.tiancun5{
	height: 40px;
	clear: both;
}
.tiancun6{
	height: 100px;
}
.container3{
	margin: 0 auto;
	width: 1050px;
}
.container3 div h2{
	text-align: center;
	height: 50px;
}
.container3 div p{
	text-align: center;
	height: 50px;
}
.footer{
	height: 470px;
	width: 1050px;
	margin: 0px auto;
}
.inner8{
	margin-top: 275px;
	float: left;
}
.inner8 img{
	display: block;
	float: left;
	margin-left: 27px;
}
.nav6{
	list-style: none;
	float: left;
	line-height: 33px;
}
.nav6 li{
	font-size: 14px;

}
.tiancun7{
	height: 40px;
	clear: both;	
}
.inner9 .img6{
	height: 196px;
	width: 430px;
}
.inner9{
	height: 196px;
	margin-left: 50px;
}
#footer2{
	float: left;
	margin-left: -100px;
}
.footer3{
	float: left;
	height: 703px;
	width: 500px;
}
.footer3 ul{
	list-style: none;
	margin-left: 50px;
}
.footer3 div{
	margin-top: 255px;
	height: 450px;
	width: 555px;
	line-height: 42px;
}
.footer3 div li{
	font-size: 14px;
}
.footer3 div input{
	width: 600px;
	height: 33px;
}
.input1{
	display: block;
	top: 25px;
	background-color: #f9f8f8;
	border: 1px dashed #d4d2d2;
}
#input2{
	height: 120px;
	width: 630px;
	background-color: #f9f8f8;
	border: 1px dashed #d4d2d2;
}
.footer3 div button{
	background-color: #3c9cd3;
	width: 93px;
	height: 30px;
	color: #fff;
	margin-left: 50px;
	margin-top: 25px;
}
.tiancun8{
	height: 48px;
	clear: both;
}
.footera{
	height: 100px;
	clear:both;
	background-color: #3c9cd3;
	margin-top: 300px;	
}
.innera{
	text-decoration: none;
}
.innera h3{
	text-align: center;
	margin: 0px auto;
	width: 1050px;
	height: 50px;
	line-height: 50px;
	color: #fff;
}
.innera img{
	margin-left: 25px;
}
.tianjia{
	height: 50px;
}
.tianjia ul{
	width: 600px;
	height:50px;
	margin: 0px auto;
}
.innera ul li{
	margin-left: 35px;
	color: #fff;
	text-align: center;
	float: left;
}	
.innera ul li a{
	color: #fff;
	text-decoration: none;
}
.qudian{
	list-style: none;
}
.bottom{
	height: 35px;
	background-color: #000;
	text-align: center;
}
.bottom p{
	color: #fff;
}





